@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.background{
    background-color: #2D2242;
    display: flex;
    justify-content: center; font-family: 'Open Sans', sans-serif;
}
.textColor{
    color:#F9EEDE;
}

.welcome{
    height: 100%;
    display: flex; align-items: center;
}
#name{
    font-size: 50px;
    display: flex;
}
.divSign{
    color: #A3ACAF; 
}
.divText{color: #B42384}
.bensonChen{padding: 0px 10px 0px 10px}

#welcomeTo{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
}


.line{
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden; 
}
.anim-typewriter{
    animation: typewriter 2s steps(30) 1s 1 normal both;
}

@keyframes typewriter{
    from {
        width: 0;
    }
    to {
        width: 50em;
    }
}

.projects{
    min-height: 80%;
    display: flex;
    justify-content: center;
}

.personalProject{
    color: white; font-size: 50px;
    margin-top: 150px;
}

.hidden{opacity: 0; 
    filter: blue(5px); transform: translateX(-100%);
    transition:all 1s; 
}
.show{opacity: 1;
    filter: blue(0); transform: translateX(0); text-align: center;
}


.cards{
    display: flex; justify-content: space-around; width: 80vw; margin-top: 50px;
}
.pCard{
    background: white;
    height: 35vh; border-radius: 15px;
    width: 25vw; margin-right: 50px;
}.pCard:hover{cursor: pointer}
.pCard:nth-child(1){
    transition-delay: 200ms;
}
.pCard:nth-child(2){
    transition-delay: 400ms;
}
.pCard:nth-child(3){
    transition-delay: 600ms;
}

.techTags{display: flex;} /* Doesn't like small screens*/
.techTag{
    padding: 5px;
    color:black; font-size: 19px; border: 1px solid gray; border-radius: 5px;
}

.projectBody{
    width: 80vw;
    height: 450px;
    border-radius: 5px;
    background-color: white;
}
.pCardTitle{
    color: black; font-size: 35px;margin-top: 20%;
}

/* Diff Cards */
.selected{opacity: 1;} .notSelected{display: none;}
.isRoutinesCard{border: 3px solid #104dd1}
.isCollegeCard{border:3px solid #C22A3C}
.isConnectCard{border:3px solid #FE29B6}

.link{
    font-size: 20px; margin-top: 20px;
}
