.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html, body {
  background-color: #1D1D1D; /* Your desired background color */
  margin: 0;
  padding: 0;
}

body {
  overflow: auto; /* Allow scrolling within the body */
}
